<%layout("layouts/bolierplate")%>

<div class="row mt-3">
  <div class="col-md-8 offset-2">
    <h2>Edit Listings Details :</h2>

    <form
      method="post"
      action="/listings/<%=listing._id%>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          value="<%=listing.title%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title Should be valid</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          name="listing[description]"
          id="description"
          class="form-control"
          required
        >
        <%=listing.description%></textarea
        >
        <div class="invalid-feedback">Price enter a short description</div>
      </div>

      <div class="mb-3"></div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Newe Image URL : </label>
        <input
          type="file"
          name="listing[image]"
          id="image"
          class="form-control"
        />
        <div class="invalid-feedback">Image Should be valid</div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="price" class="form-label">Price : </label>
          <input
            type="number"
            name="listing[price]"
            id="price"
            value="<%=listing.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price Should be valid</div>
        </div>
        <div class="col-md-8 mt-3">
          <label for="country" class="form-label">Country : </label>
          <input
            type="text"
            name="listing[country]"
            id="country"
            value="<%=listing.country%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country Should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location : </label>
        <input
          type="text"
          name="listing[location]"
          id="location"
          value="<%=listing.location%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location Should be valid</div>
      </div>

      <Button class="btn btn-dark edit-btn mt-3">Edit Listing</Button>
      <br /><br />
    </form>
  </div>
</div>

<script src="/js/script.js"></script>
